<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org" xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3" lang="en">
<head>
    <title>User page</title>
    <style>
        h1 {
            width: 100%; /* Ширина слоя */
            padding: 10px; /* Поля вокруг текста */
            font-family: "Arial Black";
            text-align: center;
            color: SlateBlue;
        }
        th, td {
            padding: 12px;
        }
        .logout {
            position: absolute;
            top: 0.5rem;
            right: 5rem;
            font-size: 1.25rem;
            color: red;
        }
    </style>
</head>
<body>
<h1>User information-page</h1>
<h2>About user</h2>
<br>
<table border="1">
    <tr>
        <th scope="col">Id</th>
        <th scope="col">Username</th>
        <th scope="col">Age</th>
        <th scope="col">Email</th>
    </tr>
    <td th:utext="${user.id}">UserId</td>
    <td th:utext="${user.username}">Username</td>
    <td th:utext="${user.age}">Age</td>
    <td th:utext="${user.email}">Email</td>
</table>
<a class="logout" th:href="@{/logout}">Logout</a>
</body>
</html>